<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058786288074-u50g70e4j3t857uomiq70e12a4tp1q18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058786288074-u50g70e4j3t857uomiq70e12a4tp1q18</string>
	<key>API_KEY</key>
	<string>AIzaSyCFYVzo6ZX0pizWJBbKJrb9ViIpLYUoiJU</string>
	<key>GCM_SENDER_ID</key>
	<string>1058786288074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-list-app-6f3a9</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-app-6f3a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058786288074:ios:67218392eda216a8f32f33</string>
</dict>
</plist>